* {
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #f9fafb;
}

.left {
    width: 30%;
    position: relative;
    background-image:
        url('halie-west-25xggax4bSA-unsplash.jpg'),
        url('odin-lined.png');
    background-size: cover, 40%;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode: normal, overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo-container {
    position: absolute;
    top: 30%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1.2rem 2.5rem;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 8px;
    z-index: 2;
}

.logo-container img {
    height: 60px;
    margin-right: 10px;
}

.credit {
    position: absolute;
    bottom: 10px;
    color: #ddd;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.4rem;
    z-index: 2;
}


.right {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}


.form-card {
    background-color: #fff;
    padding: 2rem;
}

.intro-card .intro {
    padding: 3rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.intro-card .intro strong {
    font-weight: 700;
}


form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
}

label {
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 0.3rem;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border-color: #4b5563;
    box-shadow: 0 0 0 1px #4b5563;
}

input.error {
    border-color: red;
}


.footer-card {
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}


button {
    padding: 0.7rem 2rem;
    background-color: #596d48;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
}

button:hover {
    background-color: #475c36;
}

.login-link {
    font-size: 0.9rem;
}

.login-link a {
    color: #596d48;
    text-decoration: none;
    font-weight: 600;
}